{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card -->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image -->
                    <a href="{{ user_info.avatar.url }}"><img class="img-account-profile rounded-circle mb-2"
                            src="{{ user_info.avatar.url }}" alt="{{ user_info }}"></a>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (username) -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Username" readonly
                                value="{{ user_info.username }}">
                        </div>
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Phone number</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Phone Number" readonly
                                value="{{ user_info.phone_number }}">
                        </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">First name</label>
                            <input class="form-control" id="inputFirstName" type="text" placeholder="First Name"
                                readonly value="{{ user_info.first_name }}">
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Last name</label>
                            <input class="form-control" id="inputLastName" type="text" placeholder="Last Name" readonly
                                value="{{ user_info.last_name }}">
                        </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (email address)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputEmailAddress">Email Address</label>
                            <input class="form-control" id="inputEmailAddress" type="email" readonly
                                placeholder="Email Address" value="{{ user_info.email }}">
                        </div>
                        <!-- Form Group (sex)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Sex</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Sex" readonly
                                value="{{ user_info.sex }}">
                        </div>
                    </div>
                    <a href="{% url 'update-profile' %}" class="btn btn-primary">Update Profile</a>
                    <a href="{% url 'update-password' %}" class="btn btn-primary">Update Password</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}